.hero-section {
	background: var(--fon_dark);
	color: var(--text_color_fon_dark);
	max-width: 100%;
	max-height: 100svh;
}
.hero-section__container {
	/* background-image: url("../img/bcg.svg"); */
	background-size: cover;
	background-position: center;
	/* max-height: 100%; */
}
.hero-section__title h1 {
	font-size: 5.5rem;
	line-height: 2;
	letter-spacing: 3px;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
	padding-top: 85px;
}
.text-hero-section h2 {
	margin: 0;
	padding-bottom: 1.2rem;
	font-size: 32px;
	line-height: 4.125rem;
	font-weight: 700;
	text-transform: uppercase;
}
@media (max-width: 1190px) {
	.hero-section__title h1 {
		font-size: 5.5rem;
	}
}
@media (max-width: 1100px) {
	.hero-section__title h1 {
		font-size: 4.5rem;
	}
}
@media (max-width: 910px) {
	.hero-section__title h1 {
		font-size: 4rem;
	}
}
@media (max-width: 821px) {
	.hero-section__title h1 {
		padding-top: 15rem;
		font-size: 3.5rem;
		line-height: 12rem;
		}
	.text-hero-section h2 {
		padding-top: 8rem;
		font-size: 1.5rem;
		}

}
	@media (max-width: 769px) {
	.hero-section__title h1 {
		padding-top: 15rem;
		font-size: 3rem;
		line-height: 9rem;
	}
	.text-hero-section h2 {
		padding-top: 8rem;
	}
}
	@media (max-width: 728px) {
	.hero-section__title h1 {
		font-size: 3rem;
		line-height: 9rem;
		}
}
@media (max-width: 610px) {
	.hero-section__title h1 {
		font-size: 2.2rem;
		font-weight: 700;
		line-height: 8rem;
	}
	.text-hero-section h2 {
		font-size: 1.5rem;
	}
}
@media (max-width: 480px) {
	.hero-section__title h1 {
		margin-top: 1rem;
		font-size: 1.8rem;
		line-height: 4rem;
		font-weight: 700;
	}
	.text-hero-section h2 {
		margin-top: 3rem;
		font-size: 1rem;
		text-align: center;
	}
}
@media (max-width: 391px) {
	.hero-section__title h1 {
		margin-top: 1rem;
		padding-top: 15rem;
		font-size: 1.6rem;
		line-height: 3rem;
		font-weight: 700;
		}
	.text-hero-section h2 {
		margin-top: 3rem;
		font-size: 1rem;
		text-align: center;
		}
@media (max-width: 321px) {
	.hero-section__title h1 {
		margin-top: 5rem;
		padding-top: 6rem;
		font-size: 1.3rem;
	}
	.text-hero-section h2 {
		margin-top: .5rem;
		font-size: 1rem;
	}
}
}