.section-second-about {
	padding-inline: 3%;
}
.section-second__title {
	margin: var(--section-top);
	text-align: center;
	color: var(--text_color_fon_light);
	font-size: var(--font-h2);
	font-weight: var(--font-weight_title-H2);
}
.section-second__container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-width: 100%;
	min-height: 90%;
	gap: 20px;
}
.section-second__img-konstantin {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	width: 50%;
	
}
.section-second__konstantin_photo,
.section-second__kirill-photo {
	/* margin-top: 20px; */
	/* height: 460px; */
	text-align: center;
	
}
.section-second__konstantin_photo img,
.section-second__kirill-photo img {
	border-radius: 15px;
	box-shadow: 0 5px 30px 0 rgba(0,0,0,0.5);
}
.section-second__konstantin_rank,
.section-second__kirill-rank
{
	color: var(--text_color_fon_light);
	font-size: var(--font-h4);
	font-weight: var(--font-weight_rank-H4);
	text-align: center;
	letter-spacing: 1px;
}
.section-second__konstantin_education {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* align-content: center; */
	text-align: center;
	letter-spacing: 1px;
}
.section-second__konstantin_surname,
.section-second__title_kirill-surname {
	color: var(--text_color_fon_light);
	font-size: var(--subtitle-h3);
	font-weight: var(--font-weight_subtitle-H3);
	letter-spacing: 4px;
	text-align: left;
}
.section-second__konstantin_surname h3,
.section-second__title_kirill-surname h3 {
	margin-top: 0;
}
.section-second__konstantin_card {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: flex-start;
	/* align-items: flex-start; */
	align-items: center;
	/* gap: 10px; */
}
.konstantin_card_1 {
	width: 80%;
	border-radius: 30px;
	text-align: left;
	/* margin-right: 190px; */
	/* padding: 35px 105px; */
	padding: 35px 40px;
	box-shadow: 0 5px 30px 0 rgba(0,0,0,0.5);
	color: var(--text_color_fon_light);
	font-size: var(--font-p);
	font-weight: var(--font-weight_text-P);
}
.konstantin_card_2 {
	width: 80%;
	border-radius: 30px;
	text-align: left;
	/* margin-right: 190px; */
	padding: 35px 40px;
	box-shadow: 0 5px 30px 0 rgba(0,0,0,0.5);
	color: var(--text_color_fon_light);
	font-size: var(--font-p);
	font-weight: var(--font-weight_text-P);
}
.konstantin_card_3 {
	width: 80%;
	border-radius: 30px;
	text-align: left;
	/* margin-right: 190px; */
	padding: 35px 40px;
	box-shadow: 0 5px 30px 0 rgba(0,0,0,0.5);
	color: var(--text_color_fon_light);
	font-size: var(--font-p);
	font-weight: var(--font-weight_text-P);
}

		/* --________КИРИЛЛ 100____-- */

.section-second__kirill {
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin-top: 30px;
}
.section-second__container_kirill-left {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	/* align-items: center; */
	gap: 88px;
	/* height: 100%; */
}
/* .section-second__title_kirill-surname {
	color: var(--text_color_fon_light);
	font-size: var(--subtitle-h3);
	font-weight: var(--font-weight_subtitle-H3);
	letter-spacing: 4px;
	text-align: left;
} */
/* .section-second__title_kirill-surname h3 {
	margin-top: 0;
} */
.section-second__kirill_card {
	padding: 35px 40px;
	box-shadow: 0 5px 30px 0 rgba(0,0,0,0.5);
	border-radius: 30px;
	margin-right: 50px;
	margin-left: 50px;
	/* margin: 50px 50px 150px 50px; */
}
.kirill_card {
	text-align: left;
	color: var(--text_color_fon_light);
	font-size: var(--font-p);
	font-weight: var(--font-weight_text-P);
}
.section-second__container_kirill-right {
	/* height: 100%; */
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-around;
	align-items: center;
	/* width: 40%; */
}
/* .section-second__kirill-photo {
	margin-top: 20px;
	height: 460px;
	text-align: center;
} */
/* .section-second__kirill-photo img {
	border-radius: 15px;
	box-shadow: 0 5px 30px 0 rgba(0,0,0,0.5);
} */
/* ---______АДАПТИВ________--- */

@media (max-width: 990px) {
	.section-second__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 0;
	}
.section-second__img-konstantin {
	width: 100%;
	/*   */
	}
	.section-second__konstantin_rank,
	.section-second__kirill-rank h4
	{
	font-size: var(--font_adapt_rank-H4);
	font-weight: var(--font-weight_rank-H4);
	text-align: center;
	letter-spacing: 1px;
	}
.section-second__konstantin_rank h4 {
	margin: 0;
	}
.section-second__konstantin_photo {
	margin-top: 0;
	}
.section-second__konstantin_surname {
	margin-right: 0;
	text-align: center;
	}
.section-second__konstantin_card {
	align-items: center;
	gap: 0;
	}
.konstantin_card_1 {
	margin-right: 0;
	font-size: 18px;
	width: 100%;
	}
.konstantin_card_2 {
	width: 100%;
	margin-right: 0;
	font-size: 18px;
	}
.konstantin_card_3 {
	width: 100%;
	margin-right: 0;
	font-size: 18px;
	}
	/*-- _________830px_____________-- */
.section-second__kirill {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column-reverse;
	align-items: center;
	margin-bottom: 30px;
	}
	.section-second__container_kirill-left {
	gap: 20px;
	}
.section-second__title_kirill-surname h3 {
	text-align: center;
	}
.section-second__title_kirill-surname {
	margin: 0;
	}
.section-second__container_kirill-right {
	flex-direction: column;
	}
.section-second__kirill_card {
	width: 80%;
	margin: 0 auto;
	}
/* .section-second__kirill-rank h4 {
	margin: -10px;
	} */
	/* .section-second__kirill-photo {
		width: 400px;
	} */
/* .section-second__kirill-photo img {
		width: 100%;
	} */
}
@media (max-width: 430px) {
	.section-second__title h2 {
		font-size: var(--font_adapt_title-H2);
		font-weight: var(--font-weight_adapt_title-H2);
	}
	.section-second__konstantin_surname h3,
	.section-second__title_kirill-surname h3 
	{
		font-size: var(--font_adapt_subtitle-H3);
		font-weight: var(--font-weight_adapt_subtitle-H3);
		letter-spacing: 4px;
	}
	.section-second__konstantin_card {
		gap: 15px;
	}
	.konstantin_card_1,
	.konstantin_card_2,
	.konstantin_card_3,
	.section-second__kirill_card
	{
		width: 90%;
		margin: 0 auto;
		padding: 25px 25px 25px 35px;
		font-size: var(--font_adapt_text-P);
		font-weight: var(--font-weight_adapt_text-P);
	}
	.kirill_card {
		font-size: var(--font_adapt_text-P);
		font-weight: var(--font-weight_adapt_text-P);
	}
	/* .section-second__kirill-photo {
		width: 400px;
	} */
	/* .section-second__kirill-photo img {
		width: 100%;
	} */
	.section-second__konstantin_rank h4,
	.section-second__kirill-rank h4 
	{
		font-size: var(--font_adapt_rank-H4);
		font-weight: var(--font-weight_rank-H4);
	}
		.section-second__kirill-rank h4 {
		margin: -5px;
		margin-bottom: 5px;
	}
}
@media (max-width: 391px) {
	.konstantin_card_1,
	.konstantin_card_2,
	.konstantin_card_3
	{
		width: 80%;
		padding: 15px 35px;
	}
	/* .section-second__konstantin_card {
		gap: 15px;
	} */
	.section-second__kirill-photo img {
		margin-top: 20px;
		margin-bottom: 5px;
	}
	.section-second__kirill-rank h4 {
		/* margin: -20px; */
		margin-bottom: 5px;
	}
}