.section-five-price {
	padding-inline: 3%;
}
.section-five-price__title {
	margin: var(--section-top);
	font-size: var(--font-h2);
	font-weight: var(--font-weight_title-H2);
	text-align: center;
}
.list {
	display: flex;
}
.list-two {
	display: none;
}
.section-five-price__list-title {
	list-style: inside;
	width: 70%;
	padding-left: calc(var(--index) * 4);
	color: var(--text_color_fon_light);
	font-size: var(--font-p);
	font-weight: var(--font-weight_text-P);
	letter-spacing: 1px;
	line-height: 1.5;
}
.li_shift {
	margin-left: -12px;
}
.section-five-price__list li::marker {
	font-size: var(--font-p);
	color: #5c4d4d;
}
.section-five-price__list-price {
	list-style: none;
	width: 30%;
	padding-left: 5%;
	color: var(--text_color_fon_light);
	font-size: var(--font-p);
	font-weight: var(--font-weight_text-P);
	letter-spacing: 1px;
	line-height: 1.5;
}
.section-five-price__text {
	font-size: var(--font-p);
	font-weight: var(--font-weight_text-P);
	letter-spacing: 1px;
	line-height: 30px;
	}
.section-five-price__text p {
	padding: 20px;
}
/*-----------------------------------------------------------*/
@media (max-width: 769px) {
	.section-five-price__list-title {
		padding-left: 30px;
	}
}
@media (max-width: 687px) {
.list {
	display: none;
	}
.list-two {
	display: flex;
	line-height: 23px;
	}
	/* .section-five-price__list-title {
		font-weight: 700;
		font-size: 40px;
		color: aqua;
	} */
	
	.section-five-price__list-title,
	.section-five-price__list-price,
	.section-five-price__text
	{
		font-size: var(--font_adapt_text-P);
		font-weight: var(--font-weight_adapt_rank-H4);
	}
}
@media (max-width: 430px) {
	.section-five-price__title h2 {
		font-size: var(--font_adapt_title-H2);
		font-weight: var(--font-weight_adapt_title-H2);
	}
	.section-five-price__list-title,
	.section-five-price__list-price,
	.section-five-price__text
	{
		font-size: var(--font_adapt_text-P);
		font-weight: var(--font-weight_adapt_text-P);
	}
	.section-five-price__list-title,
	.section-five-price__list-price
	{
		line-height: 33px;
		margin: 0 0 15px 0;
		padding: 0;
	}
	.section-five-price__text p {
		margin-top: 0;
		padding-top: 0;
	}
	.text {
		font-size: 10px;
	}
	.list-two {
		font-size: var(--font_adapt_text-P);
		font-weight: var(--font-weight_adapt_text-P);
	}
}
